# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/ArrayAndMatrices/nbproject/private/
/ArrayAndMatrices/build/
/ArrayAndMatrices/dist/
/SortingProject/nbproject/private/
/SortingProject/build/
/SortingProject/dist/
/SLL/nbproject/private/
/SLL/build/
/SLL/dist/
/4.SLL/build/
/4.SLL/dist/
/4.SLL/nbproject/private/
/5.CirculaLinkedList/nbproject/private/
/5.CirculaLinkedList/build/
/5.CirculaLinkedList/dist/
/6.DoubleLinkedList/nbproject/private/
/6.DoubleLinkedList/build/
/6.DoubleLinkedList/dist/
/7.StacksAndQueues/nbproject/private/
/7.StacksAndQueues/build/
/7.StacksAndQueues/dist/
/8.RegularExpression/nbproject/private/
/8.RegularExpression/build/
/8.RegularExpression/dist/
/9.OOPExample/nbproject/private/
/9.OOPExample/build/
/9.OOPExample/dist/
/10.ZooProject/nbproject/private/
/10.ZooProject/build/
/10.ZooProject/dist/
/11.ReactiveParadigm/nbproject/private/
/11.ReactiveParadigm/build/
/12.FunctionalParadigm/nbproject/private/
/12.FunctionalParadigm/build/
/12.FunctionalParadigm/dist/
/11.ReactiveParadigm/dist/
/13.OPPPolymorphism/nbproject/private/
/13.OPPPolymorphism/build/
/13.OPPPolymorphism/dist/
/14.FactoryPatternPolymorfism/nbproject/private/
/14.FactoryPatternPolymorfism/build/
/14.FactoryPatternPolymorfism/dist/
/15.RepasoInterfaces/nbproject/private/
/15.RepasoInterfaces/dist/
/15.RepasoInterfaces/build/
/16.JavaSwingExample/nbproject/private/
/16.JavaSwingExample/build/
/16.JavaSwingExample/dist/
/17.JavaMDIParentExample/nbproject/private/
/17.JavaMDIParentExample/build/
/17.JavaMDIParentExample/dist/
/18.SolidExample/nbproject/private/
/18.SolidExample/build/
/18.SolidExample/dist/
/19.LambdaAndFuntions/nbproject/private/
/19.LambdaAndFuntions/build/
/19.LambdaAndFuntions/dist/
/23.MongoDBExample/target/
/24.MongoDBLoadTest/target/
/25.FormsServlets/target/
/25.FormsAndServlets/target/
